html {
    overflow-y: scroll;
}

:root {
    --bgcolor: #eee;
    --fontcolor: #3a5876;
    --headerfooterlinkcolor: #5c0025;
    --headerfooterlinkhovercolor: #dd6d8f;
    --mainlinkcolor: #218daa;
    --mainlinkhovercolor: #3355ee;
    --outlinecolor: #218daa;
    --summaryhovercolor: #888;
    --precolor: #fff;
    --prebgcolor: #3c4856;
    --codenotprebgcolor: #3c4856;
    --fontsize: 14px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #111;
        --fontcolor: white;
        --headerfooterlinkcolor: #ffd32c;
        --headerfooterlinkhovercolor: #ddb510;
        --mainlinkcolor: #c0564a;
        --mainlinkhovercolor: #fd8b7a;
        --outlinecolor: #c0564a;
        --summaryhovercolor: #aaa;
        --precolor: #ccc;
        --prebgcolor: #3d3d3d;
        --codenotprebgcolor: #4e4e4e;
        --fontsize: 14px;
    }
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: var(--fontsize)/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor);
}

a {
    color: var(--mainlinkcolor) !important;
    /* text-decoration: none; */
}

a:hover {
    color: var(--mainlinkhovercolor) !important;
}

/* 
a:visited {
    color: var(--mainlinkcolor);
}

a:visited:hover {
    color: var(--mainlinkhovercolor);
} 

a:active {
    color: var(--mainlinkcolor);
} */


h1,
h2,
h3 {
    line-height: 1.2;
}

h1:has(a) {
    text-shadow: var(--outlinecolor) 1px 0 5px !important;
}

h1:not(:has(a)),
h2:not(:has(a)),
h3:not(:has(a)),
h4:not(:has(a)) {
    text-shadow: 1px 1px 11px var(--outlinecolor), 0 0 2px var(--outlinecolor), 0 0 3px var(--outlinecolor) !important;
}

p>code {
    color: var(--precolor);
    background: var(--prebgcolor);
}

pre,
code {
    padding: 0 !important;
}

:not(pre)>code {
    padding: 1px !important;
    background: var(--codenotprebgcolor);
}

code {
    color: var(--precolor);
    background: var(--prebgcolor);
    border-radius: 3px;
    text-wrap: wrap;
}

pre {
    color: var(--precolor);
    background: var(--prebgcolor) !important;
    padding: 10px 15px 10px 15px !important;
    overflow-x: auto;
    border-radius: 5px;
}

article {
    padding: 24px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

a.header-footer-anchor {
    color: var(--headerfooterlinkcolor) !important;
}

a.header-footer-anchor:hover {
    color: var(--headerfooterlinkhovercolor) !important;
}

a.header-footer-anchor:visited:hover {
    color: var(--headerfooterlinkhovercolor) !important;
}

blockquote {
    font-style: italic;
    font-size: 11px;
    text-align: center;
    text-indent: 0;
    margin-left: 0.7em;
    border-left: 1px solid #888;
}

h1 {
    font-size: 1.55em;
}

h2 {
    font-size: 1.33em;
}

h3 {
    font-size: 1.20em;
}

blockquote>p {
    padding: 0.5em 0 0.5em 1em;
}

summary:hover {
    color: var(--summaryhovercolor);
}