html {
    overflow-y: scroll;
}

:root {
    --bgcolor: white;
    --fontcolor: #333;
    --linkcolor: #00e;
    --hovercolor: #0077ff;
    --visitedcolor: #551a8b;
    --visitedhovercolor: #dd6d8f;
    --summaryhovercolor: #777;
    --precolor: #fff;
    --prebgcolor: #4d4d4d;
    --codenotprebgcolor: #606060;
    --fontsize: 14px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: black;
        --fontcolor: white;
        --linkcolor: #5bf;
        --visitedcolor: #c070f2;
        --precolor: #ccc;
        --prebgcolor: #1f1f1f;
        --visitedhovercolor: #ff6d8f;
        --summaryhovercolor: #aaa;
        --hovercolor: #0077ff;
        --fontsize: 14px;
    }
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: var(--fontsize)/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor);
}

a:link {
    color: var(--linkcolor);
    /* text-decoration: none; */
}

a:link:hover {
    color: var(--hovercolor);
}

a:visited {
    color: var(--visitedcolor);
}

a:visited:hover {
    color: var(--visitedhovercolor);
}

a:active {
    color: var(--visitedcolor);
}

h1,
h2,
h3 {
    line-height: 1.2;

}

p>code {
    color: var(--precolor);
    background: var(--prebgcolor);
}

pre,
code {
    padding: 0 !important;
}

:not(pre)>code {
    padding: 2px !important;
    background: var(--codenotprebgcolor);
}

code {
    color: var(--precolor);
    background: var(--prebgcolor);
    border-radius: 3px;
    text-wrap: wrap;
}

pre {
    color: var(--precolor);
    background: var(--prebgcolor) !important;
    padding: 10px 15px 10px 15px !important;
    overflow-x: auto;
    border-radius: 5px;
}

article {
    padding: 24px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

a.header-footer-anchor {
    color: var(--linkcolor) !important;
}

a.header-footer-anchor:hover {
    color: var(--hovercolor) !important;
}

a.header-footer-anchor:visited:hover {
    color: var(--hovercolor) !important;
}

/* Configure quotes */
blockquote {
    font-style: italic;
    font-size: 13px;
    text-align: center;
    text-indent: 0;
    margin-left: 1em;
    border-left: 1px solid #888;
}

summary:hover {
    color: var(--summaryhovercolor);
}