<header>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) ":" }}<br>
	:: <a href="{{ .Site.BaseURL }}" class='header-footer-anchor'>{{ .Site.Title }}</a> ::<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) ":" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
		<a href="/" class='header-footer-anchor'><b>Start</b></a> ·
		{{ with .Site.Menus.main }}
		{{ range . }}
		<a href="{{ .URL | relURL }}" class='header-footer-anchor'><b>{{ .Name }}</b></a> ·
		{{ end }}
	</nav>
	</p>
	{{ end }}
</header>