<header>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "*" }}<br>
	*&nbsp;&nbsp;<a href="{{ .Site.BaseURL }}" class='header-footer-anchor'>{{ .Site.Title }}</a>&nbsp;&nbsp;*<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "*" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<nav>
		<a href="/" class='header-footer-anchor'><b>Start</b></a> ·
		{{ $l := sub (len .Site.Menus.main) 1 }}
		{{ with .Site.Menus.main }}
		{{ range $index, $menu := . }}
		<a href="{{ .URL | relURL }}" class='header-footer-anchor'><b>{{ .Name }}</b></a>{{ if ne $index $l }} · {{ end }}
		{{ end }}
	</nav>
	<p></p>
	{{ end }}
</header>