<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:title" content="{{ .Title }}">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ end }}">
	<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ end }}">
	<meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ end }}">
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta name="twitter:card" content="summary_large_image">
	<link rel="icon" type="image/x-icon" href="/thumb.png">
	<style type=text/css>body{font-family:monospace;}</style>
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
